body {
  color: black;
  text-align: center;
  font-family: Verdana;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

h2 {
  font-weight: 400;
  font-size: 42px;
}

.second p {
  font-size: 21px;
  color: gray;
}

.link {
  color: aquamarine;
  font-size: 16px;
}

.footer {
  text-align: right;
  color: gray;
}
